allow from all
#AddType application/x-web-app-manifest+json .webapp

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/xml application/rss+xml
</IfModule>

# REDIRECTIONS
RewriteEngine on
RewriteRule ^\.git.* - [R=404,L]
RewriteRule proxy/(.*) proxy.php?url=$1 [L]
